[submodule "doom/doomgeneric"]
	path = baremetal/doom/doomgeneric
	url = https://github.com/ozkl/doomgeneric
[submodule "baremetal/aipc-boot/third_party/lvgl"]
	path = baremetal/aipc-boot/third_party/lvgl
	url = https://github.com/lvgl/lvgl
